.stockitem {
  width: 50%;
  height: 20vh;
  position: relative;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--pink);
  text-align: end;
}



.stockitem > .bg-image{
  width: 100%;
  height: 100%;
  position: absolute;
  filter: grayscale(100%);
  background-size: cover;
  opacity: 10%;
  
}


.stockitem:nth-child(4n-1) {
  background-color: var(--main-dark);
}

.stockitem:nth-child(4n-2) {
  background-color: var(--main-dark);
}

.stockitem .name {
  font-size: var(--sub-heading);
  font-weight: bold;
}

.stockitem .price {
  font-size: var(--detail);
}

.stockitem .symbol {
  font-size: var(--heading);
  text-align: center;
  font-weight: bold;
}

.stockitem .button {
  background-color: transparent;
}

.stockitem .info {
  width: 100%;
  text-align: end;
}
