.stockitem {
  width: 50%;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--pink);
  text-align: end;
}

.stockitem:nth-child(4n-1) {
  background-color: var(--main-dark);
}

.stockitem:nth-child(4n-2) {
  background-color: var(--main-dark);
}

.stockitem .name {
  font-size: var(--sub-heading);
  font-weight: bold;
}

.stockitem .price {
  font-size: var(--detail);
}

.stockitem .symbol {
  font-size: var(--heading);
  text-align: center;
  font-weight: bold;
}
